﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="col-auto col-sm-auto">


    <!--Кнопка вкл\выкл охраны-->
    <form method="post">

        <button type="submit" asp-page-handler="ActivationGuard" class="badge badge-secondary"
                id="btnActivationGuard">
            Охрана
        </button>

    </form>
</div>
<div class="col-auto col-sm-auto">
    <!--Кнопка вкл\выкл реле1-->
    <form method="post">
        <button type="submit" asp-page-handler="ActivationRelay" class="badge badge-secondary"
                id="btnActivationRelay">
            <!-- onClick="return greeting('Model.Guard.LastOrDefault().State')"> -->
            Реле-1

        </button>
    </form>
</div>
<!--тут код изменения цвета кнопок в зависимости от статуса-->
@if (Model.Guard.Count > 0) // проверим что массив не пустой
{
    if (Model.Guard[Model.Guard.Count - 1].State == false)
    {
<script>
    document.getElementById("btnActivationGuard").style.backgroundColor = "red";
    document.getElementById("btnActivationGuard").textContent="Охрана выключена";

</script>
    }
    else
    {
<script>
    document.getElementById("btnActivationGuard").style.backgroundColor = "green";
    document.getElementById("btnActivationGuard").textContent = "Охрана включена";
</script>
    }
    if (Model.Guard[Model.Guard.Count - 1].relay_1 == false)
    {
        <script>document.getElementById("btnActivationRelay").style.backgroundColor = "red";
            document.getElementById("btnActivationRelay").textContent = "Реле-1 выключено";

    </script>
    }
    else
    {
        <script>document.getElementById("btnActivationRelay").style.backgroundColor = "green";
            document.getElementById("btnActivationRelay").textContent = "Реле-1 включено";
    </script>
    }
}

<!--если не авторизован как админ, то кнопки не активны-->
@if (SignInManager.IsSignedIn(User) == false || User.IsInRole("Admin")!=true)
{
    <script>document.getElementById("btnActivationGuard").setAttribute("disabled", "disabled");</script>
    <script>document.getElementById("btnActivationRelay").setAttribute("disabled", "disabled");</script>
}