﻿@page
@model GarageGuard.Pages.Guards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.MainsVoltage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.MainsVoltage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.BackupPower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.BackupPower)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.Motion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.Motion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.Temperature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.Temperature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.Humidity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.Humidity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.relay_1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.relay_1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.MissedCals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.MissedCals)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.LastInSms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.LastInSms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guard.WifiStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guard.WifiStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Guard.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
