﻿@page
@model GarageGuard.Pages.Guards.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Guard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Guard.ID" />
            <div class="form-group">
                <label asp-for="Guard.Status" class="control-label"></label>
                <input asp-for="Guard.Status" class="form-control" />
                <span asp-validation-for="Guard.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guard.Date" class="control-label"></label>
                <input asp-for="Guard.Date" class="form-control" />
                <span asp-validation-for="Guard.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guard.MainsVoltage" class="control-label"></label>
                <input asp-for="Guard.MainsVoltage" class="form-control" />
                <span asp-validation-for="Guard.MainsVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guard.BackupPower" class="control-label"></label>
                <input asp-for="Guard.BackupPower" class="form-control" />
                <span asp-validation-for="Guard.BackupPower" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Guard.State" /> @Html.DisplayNameFor(model => model.Guard.State)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Guard.Motion" class="control-label"></label>
                <input asp-for="Guard.Motion" class="form-control" />
                <span asp-validation-for="Guard.Motion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guard.Temperature" class="control-label"></label>
                <input asp-for="Guard.Temperature" class="form-control" />
                <span asp-validation-for="Guard.Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guard.Humidity" class="control-label"></label>
                <input asp-for="Guard.Humidity" class="form-control" />
                <span asp-validation-for="Guard.Humidity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Guard.relay_1" /> @Html.DisplayNameFor(model => model.Guard.relay_1)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Guard.MissedCals" class="control-label"></label>
                <input asp-for="Guard.MissedCals" class="form-control" />
                <span asp-validation-for="Guard.MissedCals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guard.LastInSms" class="control-label"></label>
                <input asp-for="Guard.LastInSms" class="form-control" />
                <span asp-validation-for="Guard.LastInSms" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Guard.WifiStatus" /> @Html.DisplayNameFor(model => model.Guard.WifiStatus)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
