﻿@page "{handler?}"


@model GarageGuard.Pages.Guards.IndexModel

@{
    ViewData["Title"] = "Index";
}
<!--Тут прописано какую мастер страницу используем2 -->
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Главная</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<div class="container">

    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
            <!-- Карточка (border-primary - цвет границ карточки) -->
            <div class="card border-primary ">
                <!-- Шапка (bg-primary - цвет фона, text-white - цвет текста) -->
                <div class="card-header bg-info text-white">
                    Панель контроллера ID @foreach (var item in Model.Guard)
                    {

                        <td id="humidity">
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>


                    }
                </div>
                <!-- Текстовый контент -->
               
                <div class="card-body" id="cardBody">
                    <img src="/css/backgrnd/screw.png" style="position:absolute; left:0" width="40" height="40">
                    <img src="/css/backgrnd/screw.png"  style="position:absolute; right:0" width="40" height="40">
                    <img src="/css/backgrnd/screw.png" style="position:absolute; bottom:0; left:0" width="40" height="40">
                    <img src="/css/backgrnd/screw.png" style="position:absolute; bottom:0; right:0" width="40" height="40">
                    <div class="col-auto">
                    
                    <h5 class="card-text" style="padding-top:20px">Состояние</h5>
                    <div class="marquee" id="marquee">
                        <span>
                            @foreach (var item in Model.Guard)
                            {
                                <div id="status">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </div>
                                <!-- тут выполняется скрипт который получает значения из базы и раскрашивает фон окна в зависимотсти от статуса  -->
                                <script>myFunction('motion', '@item.Motion', 'state' ,'@item.State')</script>
                            }


                        </span>
                    </div>
                        <h5 class="card-text" style="padding-top:20px">Индикация</h5>
                        <div id="indi-panel" class="row justify-content-center align-items-center border border-secondary">
                            <div class="col-auto">
                                <!--Индикация-->
                                <button class="btn-alarm" id="btnAlarm">ТРЕВОГА</button>
                            </div>

                        </div>
                   
                  
                    <h5 class="card-text">Обмен с контроллером</h5>
                        <div class="tbody-panel">
                             <img src="/css/backgrnd/screw2.png" style="position:absolute; left:0px" width="20" height="20">
                            <img src="/css/backgrnd/screw2.png" style="position:absolute; right:0px" width="20" height="20">
                            <img src="/css/backgrnd/screw2.png" style="position:absolute; bottom:0; left:0px" width="20" height="20">
                            <img src="/css/backgrnd/screw2.png" style="position:absolute; bottom:0; right:0px" width="20" height="20">

                         <div class="row justify-content-around">

                                <div class="col-auto">
                            <!--Дата и время связи с контроллером-->
                            <table class="table" style="margin-top:10%">
                                <thead>
                                    <tr>
                                        <th>
                                            <img src="./Images/server.png" alt="Sample Image" width="50" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="timeGetToController" class="indicator">
                                            @GarageGuard.Pages.Guards.IndexModel.timeGetToController.ToString("G")
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-auto">
                            <!--Время получения данных из контроллера-->
                            <table class="table" style="margin-top:10%">
                                <thead>
                                    <tr>
                                        <th>
                                            <img src="./Images/chip.png" alt="Sample Image" width="50" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Guard)
                                    {
                                        <tr>
                                                    <td id="timeGetFromController" class="indicator">
                                                @{
                                                    string time = item.Date.ToString("G");
                                                }
                                                @Html.DisplayFor(modelItem => time)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
         
                    </div>
                           
                    </div>
                    <h5 class="card-text" style="margin-top:10%">Данные с датчиков</h5>

                        <div class="tbody-panel">
                            <img src="/css/backgrnd/screw2.png" style="position:absolute; left:0px" width="20" height="20">
                            <img src="/css/backgrnd/screw2.png" style="position:absolute; right:0px" width="20" height="20">
                            <img src="/css/backgrnd/screw2.png" style="position:absolute; bottom:0; left:0px" width="20" height="20">
                            <img src="/css/backgrnd/screw2.png" style="position:absolute; bottom:0; right:0px" width="20" height="20">
                            <div class="row justify-content-around" style="margin:auto">
                                <div class="col-auto">
                            <!--Индикатор Main Power-->
                            <table class="table" style="margin-top:10%">
                                <thead>
                                    <tr>
                                        <th>
                                            <img src="./Images/mainpower.png" alt="Sample Image" width="50" style="vertical-align:unset" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Guard)
                                    {
                                        <tr>
                                                    <td id="mainsVoltage" class="indicator">
                                                <!--по id делаем привязку для получения данных из хаба-->
                                                @Html.DisplayFor(modelItem => item.MainsVoltage) В
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                                <div class="col-auto">
                            <!--Индикатор Buckup Power-->
                            <table class="table" style="margin-top:10%">
                                <thead>
                                    <tr>
                                        <th>
                                            <img src="./Images/battery.png" alt="Sample Image" width="50" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Guard)
                                    {
                                        <tr>
                                                    <td id="backupPower" class="indicator">
                                                @Html.DisplayFor(modelItem => item.BackupPower) В
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                                <div class="col-auto">
                            <!--Индикатор счетчика движений-->
                            <table class="table" style="margin-top:10%">
                                <thead>
                                    <tr>
                                        <th>
                                            <img src="./Images/motion.png" alt="Sample Image" width="50" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Guard)
                                    {
                                        <tr>
                                                    <td id="motion" class="indicator">
                                                @Html.DisplayFor(modelItem => item.Motion)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                                <div class="col-auto">
                            <!--Индикатор температуры-->
                            <table class="table" style="margin-top:10%">
                                <thead>
                                    <tr>
                                        <th>
                                            <img src="./Images/temperature.png" alt="Sample Image" width="50" />
                                        </th>
                                    </tr>
                                </thead>
                                        <tbody id="tbody-temperature" class="indicator">
                                    @foreach (var item in Model.Guard)
                                    {
                                        <tr>
                                            <td id="temperature">
                                                @Html.DisplayFor(modelItem => item.Temperature) °C
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                                <div class="col-auto">
                            <!--Индикатор влажности-->
                            <table class="table" style="margin-top:10%">
                                <thead>
                                    <tr>
                                        <th>
                                            <img src="./Images/humidity.png" alt="Sample Image" width="50" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Guard)
                                    {
                                        <tr>
                                                    <td id="humidity" class="indicator">
                                                @Html.DisplayFor(modelItem => item.Humidity) %
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

</div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row justify-content-center align-items-center">
                        <partial name="_ButtonsPartial" />
                        <!--тут отображение кнопок, но реализовано на другой странице(_ButtonsPartial), с учетом авторизации-->

                    </div>
                </div>
            </div><!-- Конец карточки -->
        </div>
    </div>

</div>

@if (User.IsInRole("Admin"))
{
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @foreach (var item in Model.Guard)
            {
                <tr>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!--тут меняется стиль бегущей строки -->

<script>changeStyle('@GarageGuard.Pages.Guards.IndexModel._awaitExchange')</script>







