﻿@page
@model GarageGuard.Areas.Identity.Pages.Account.AdminPanelModel
@{
    ViewData["Title"] = "Admin Panel";
}

<h1>@ViewData["Title"]</h1>

<div class="container">

    <div class="row justify-content-center align-items-center">
        <div class="col-auto col-sm-auto">
            <!--Список пользователей-->
            <table class="table">
                <thead>
                    <tr>

                        <th>Пользователь</th>
                        <th>Права</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in Model.Users)
                    {
                        <tr>

                            <!--вывод списка из базы-->
                            <td> @Html.DisplayFor(modelItem => user.UserName)</td>
                            <td>
                                <!--Какая именно роль будет отображаться выбранной на странице-->
                                @Model.Roles.First(y => y.Id == Model.IdRoles.First(x => x.UserId == user.Id).RoleId).Name

                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary" asp-page="./ChangeRole" asp-route-id="@user.Id">Change Role</a> | 
                                <a class="btn btn-sm btn-danger" asp-page="./UserDelete" asp-route-id="@user.Id">Delete User</a>    
                                
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>


    </div>   
</div>

