﻿@page
@model GarageGuard.Areas.Identity.Pages.Account.ChangeRoleModel
@{
  ViewData["Title"] = "ChangeRole";
}
<h1>ChangeRole</h1>

<h3>Changing the role of the user:</h3>
<div class="col-auto col-sm-auto">
    
    <table class="table">
        <thead>
            <tr>

                <th>Пользователь</th>
                <th>Права</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <form method="post">

                <tr>
                    <td>@Html.DisplayFor(model => model._identityUser.UserName)</td>

                    <td>

                        @foreach (var option in Model.Options)
                        {
                            if (option.Text == Model.Roles.First(y => y.Id == Model.IdRoles.First(x => x.UserId == Model._identityUser.Id).RoleId).Name)
                            {
                                option.Selected = true;
                                <!--вывод роли в виде выпадающего списка-->

                                @Html.DropDownList("role", Model.Options)
                            }
                            else
                            {
                                option.Selected = false;
                            }
                        }

                    </td>


                    <input type="hidden" asp-for="_identityUser.Id" />
                    <td>
                        <input type="submit" value="Save" class="btn btn-danger" /> |
                        <a asp-page="./AdminPanel">Back to List</a>
                    </td>
                </tr>
            </form>
        </tbody>
        </table>
</div>