﻿@page
@model GarageGuard.Areas.Identity.Pages.Account.UserDeleteModel
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">           
            @Html.DisplayFor(model => model._identityUser.UserName)
        </dt>
        
    </dl>

    <form method="post">
        <input type="hidden" asp-for="_identityUser.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./AdminPanel">Back to List</a>
    </form>
</div>
